
// Fonts
html {
	font-family: "Helvetica Neue", "Helvetica", "Segoe UI", "Lucida Grande", "Ubuntu", "Roboto", "Arial",sans-serif;
	font-weight: 200;
	font-size: 0.9em;
}
body {
	line-height: 1.6;
}

// Colors
body {
	background-color: @grey-2;
	color: @grey-5;
}
a {
	color: @blue-3;
}
h1 a, h2 a, h3 a, h4 a, h5 a, h6 a {
	text-decoration: none;
}
h1, h2, h3, pre, code, table, th, td, a, ul, ol, li {
	border-color: @grey-3;
}

// Headings
h1, h2 {
	font-weight: 200;
}
h2 {
	font-size: 1.8em;
}
h3 {
	font-weight: normal;
	font-size: 1.4em;
	color: @grey-4;
}
big {
	font-size: 1.4em;
}

// Monospaced
pre,code,kbd,samp {
	font-size: 0.85em;
}

// Tools
.center {
	text-align: center;
}
