
/*Tables*/
table {
	background-color: @c-white;
	.box-shadow(0 0.05em 0.2em @c-grey-3);
	.border-radius(0.3em);
}
th {
	vertical-align: baseline;
	background-color: @c-blue-3;
	border-color: @c-blue-3;
	color: @c-white;
	font-weight: normal;
}
th, td {
	border-width: 1px;
}
table table td {
	padding: 0.335em 0.67em;
}
