
# Settings
# Please note that there is another .htaccess file in "servant/", which denies direct access to the folder and its contents

# Disable directory listings
Options -Indexes

# Allow URL rewrites (uncomment the next line if needed on your server)
# Options +FollowSymLinks
RewriteEngine on

# Might be required for CORS (uncomment if needed on your server)
# Header set Access-Control-Allow-Origin *



# Endpoints

# Forward to default site and action
RewriteRule ^$ %{REQUEST_URI}home/ [R=301,L]

# Load index.php at root
DirectoryIndex servant/index.php

# Respect natural paths
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d

# Access actions of a site
RewriteRule ^/?([^/]*)/?([^/]*)/?([^/]*)/?([^/]*)/?([^/]*)/?([^/]*)/?([^/]*)/? \servant/index.php?site=$1&action=$2&article=$3;$4;$5;$6;$7;$8;$9
