
.row-body {
	padding-top: 7em;

	@media handheld, only screen and (max-width: @bb-accommodate) {
		padding-top: 5em;
	}

	@media handheld, only screen and (max-width: @bb-stack) {
		padding-top: 3%;
	}

	> .row-content > .article {

		// Keep the first title close to the top
		> h1, > h2, > h3, > h4 {
			&:first-child {
				margin-top: 0.4em;
			}
		}

		pre, table {
			margin-right: -5%;
			margin-left: -5%;
			width: 110%;
		}

	}

}
