
.row-body {
	padding-top: 6em;
	padding-bottom: 10em;

	@media handheld, only screen and (max-width: @bb-accommodate) {
		padding-top: 5em;
	}

	@media handheld, only screen and (max-width: @bb-stack) {
		padding-top: 3%;
	}

	> .row-content > .article {

		// Keep the first title close to the top
		> h1, > h2, > h3, > h4 {
			&:first-child {
				margin-top: 0.4em;
			}
		}

		pre, table {
			// margin: 0.67em -5% 4.02em -5%;
			margin: 2.68em -5% 4.02em -5%;
			width: 110%;
		}

	}

}
