


/**
* Menu
*/

.scrolled .row-menu {
	@media handheld, only screen and (max-width: @bb-break) {
		.box-shadow(0 0.1em 1.4em rgba(0, 0, 0, 0.4));
		a {
			padding-top: 0.8em;
		}
	}
}

.row-menu {

	.transition-duration(250ms);
	.transition-property(height);

	.row-content.buffer-left.buffer-right {
		padding-top: 0;
		@media handheld, only screen and (max-width: @bb-break) {
			max-width: none;
			padding-right: 0;
			padding-left: 0;
		}
	}

	// Links
	a {
		display: block;
		text-decoration: none;
		padding: 3em 1.4em 0.8em 1.4em;
		text-align: center;
		font-size: 1.1em;

		&:hover {
			color: #333;
		}

	}

	strong {
		font-weight: inherit;
		a {
			color: inherit;
		}
	}

	// List positioning
	h1 {
		float: left;
		margin-top: 0;
		margin-bottom: 0;
		margin-left: -1.4em;
		margin-right: 0;
		font-weight: inherit;
		font-size: inherit;
		line-height: 1.4;
	}

	ul {

		li:first-of-type {
			display: none;
		}

		li:first-of-type {
			float: left;
			margin-left: -1.4em;
		}

	}



	// Responsive adjustments
	@media handheld, only screen and (max-width: @bb-break) {
		font-size: 0.85em;
		position: fixed;
		z-index: 10;
		background-color: #fff;

		h1 {
			width: 34%;
			margin-left: 0;
		}

		ul {
			width: 66%;
		}

		li {
			width: 50%;
		}

		a {
			padding-left: 0;
			padding-right: 0;
			text-align: center;
		}

	}

}

// Select home page link
body.depth-0.index-0 {
	.row-menu h1 a {
		color: #ccc;
	}
}



/**
* Article + submenu
*/

.row-body {

	.article {
		font-size: 0.9em;
		line-height: 1.6;
		font-weight: 400;

		@media handheld, only screen and (min-width: @bb-break) {
			width: 65%;
			max-width: 40em;
			float: left;
			clear: none;
		}

	}

	.submenu {
		padding-top: 6em;
		font-weight: 400;

		@media handheld, only screen and (min-width: @bb-break) {
			width: 25%;
			margin-right: 10%;
			float: left;
			padding-top: 3em;
		}

		// Submenu lists
		ul {
			list-style: none;
			margin-left: -0.2em;
			padding-left: 0;

			ul {
				margin-bottom: 1.34em;
				a {
					padding-left: 1.8em;
					font-size: 0.9em;
				}
			}

		}

		// Links in both submenus
		a {
			display: block;
			color: #999;
			padding: 0.3em 0.4em;
		}

		strong a {
			font-weight: inherit;
			color: inherit;
		}

		// Responsive menu
		.hide-over-break {
			ul {
				&:first-of-type {
					border-top-width: 1px;
				}

				border-bottom-width: 1px;
				border-color: #ccc;

				margin-right: -1.2em;
				margin-left: -1.2em;

				// Typography
				font-weight: 500;
				a {
					padding: 0.4em 1.2em;
					color: @blue;
					&.close {
						color: #ccc;
					}
				}
				strong {
					font-weight: inherit;
				}
				strong a {
					color: inherit;
				}
				li:first-of-type a {
					padding-top: 0.78em;
				}
				li:last-of-type a {
					padding-bottom: 0.78em;
				}

				// Closed menu
				&.closed {
					li {
						display: none;
						&.selected {
							display: block;
						}
					}
					a {
						padding-top: 0.78em;
						padding-bottom: 0.78em;
					}
				}

			}
		}

	}

}



/**
* Footer
*/

.prevnext {
	font-weight: 500;
	border-top-width: 1px;
	border-color: #ccc;

	margin-right: -1.2em;
	margin-left: -1.2em;


	ul {
		width: 100%;
	}

	.previous {
	}

	.next {
		float: right;
	}

	a {
		padding: 0.4em 1.2em;
	}

}



/**
* Footer
*/

.row-footer {

	.row-content {
		max-width: none;
	}

	h1 {
		text-align: right;
		font-size: 1.6em;
		a {
			max-width: 6em;
			&:hover {
				color: @blue;
			}
		}
	}

}
