
/*Second-level menu*/
#body ul.menu-2, #body ol.menu-2 {
	float: left;
	width: 100%;
	list-style: none;
	padding-left: 0;
	margin-top: 0;
}

#body .menu-2 li {
	float: left;
	clear: none;
}

#body .menu-2 li a, #body .menu-2 li strong {
	display: block;
}

#body .menu-2 li {
	margin-right: 2em;
}
#body .menu-2 li a {
	font-size: 2.2em;
	font-weight: 200;
	text-decoration: none;
	color: #84919C;
}
	#body .menu-2 li a:hover, #body .menu-2 li strong a {
		color: #24292d;
	}

.title-article {
	display: none;
}
