
body {
	background-color: @grey-5;
}

.frame-header {
	margin-top: 5%;
}

.frame-container {
	width: 80%;
	max-width: 60em;
	margin: 0 auto;
	padding: 4% 8%;
	background-color: @white;
}
	.frame-header .frame-container {
		padding-bottom: 0;
	}
	.frame-footer .frame-container {
		background-color: @grey-3;
		width: 100%;
		max-width: 80em;
	}
