
<h1>{{ servant.page().name() }}</h1>

<p><code>{{ servant.format().path('formatted/path', 'domain') }}</code></p>

<ul>
{% for id in servant.page().siblings() %}
	<li><a href="{{ id }}">{{ servant.format().name(id) }}</a></li>
{% endfor %}
</ul>
