
// Breakpoints
@bb-header-dropdown: 45em;
@bb-header-accommodate: 60em;



// Colors
@white: #fff;

@grey-1: #f5f5f5;
@grey-2: #e6e7e8;
@grey-3: #cdd2d6;
@grey-4: #959ea6;
@grey-5: #373f45;
@grey-6: #24292d;

@blue-1: #66d9ff;
@blue-2: #00bfff;
@blue-3: #00aacc;
@blue-4: #007ca6;
@blue-5: #006080;

@green-1: #b1f255;
@green-2: #8fe517;
@green-3: #8cd921;
@green-4: #68b300;
@green-5: #4a8000;

@magenta-1: #ff99c9;
@magenta-2: #ff4da0;
@magenta-3: #e51777;
@magenta-4: #cc005f;
@magenta-5: #990047;



// Mixins
.shadows {
	.box-shadow(0 0.05em 0.1em @grey-4);
}

// Border mixins
.thick-border {
	border-width: 0.5em;
}
	.thick-border-top {
		border-top-width: 0.5em;
	}
	.thick-border-right {
		border-right-width: 0.5em;
	}
	.thick-border-bottom {
		border-bottom-width: 0.5em;
	}
	.thick-border-left {
		border-left-width: 0.5em;
	}
