
// Breakpoints
@bb-header-dropdown: 45em;
@bb-header-accommodate: 60em;

// Colors
@c-white: #fff;

@c-blue-1: #66d9ff;
@c-blue-2: #00bfff;
@c-blue-3: #00aacc;
@c-blue-4: #007ca6;
@c-blue-5: #006080;

@c-grey-1: #f5f5f5;
@c-grey-2: #e6e7e8;
@c-grey-3: #cdd2d6;
@c-grey-4: #959ea6;
@c-grey-5: #373f45;
@c-grey-6: #24292d;
