
// Breakpoints
@bb-header-dropdown: 45em;
@bb-header-accommodate: 60em;

// Colors
@c-white: #fff;

@c-blue-1: #00aacc;
@c-blue-2: #00aacc;
@c-blue-3: #00aacc;
@c-blue-4: #00aacc;
@c-blue-5: #00aacc;

@c-grey-1: #f5f5f5;
@c-grey-2: #eaeaea;
@c-grey-3: #c9d4d6;
@c-grey-4: #8c9aa6;
@c-grey-5: #2f353b;
@c-grey-6: #24292d;
