
// Limit widths
.intro {
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	max-width: 50em;
}

// Boxes
.box {
	background-color: @white;
	border-color: @blue-dark;
	.shadows();
	.thick-border-top();

	// Alternate colors
	&.green {
		border-color: @green-dark;
	}
	&.magenta {
		border-color: @magenta-dark;
	}
}
