
#body {

	// Second-level menu
	ul.menu-2, ol.menu-2 {
		float: left;
		width: 100%;
		list-style: none;
		padding-left: 0;
		margin-top: 0;
	}

	.menu-2 li {
		float: left;
		clear: none;
		margin-right: 2em;

		// List item contents
		a, strong {
			display: block;
		}

	}

	// Article title
	.title-article {
		display: none;
	}

}
