
body.level-2, body.level-3 {

	// Article
	#article {
		clear: none;
		float: left;
		padding-top: 1em;

		// Width
		width: 73%;
		@media handheld, only screen and (min-width: @bb-header-accommodate){
			width: 68%;
		}

		// Keep the first title close to the top
		> h1, > h2, > h3, > h4 {
			&:first-child {
				margin-top: 0;
			}
		}
	}

	// Sidebar
	#sidebar {
		float: left;
		margin-right: 4%;
		margin-bottom: 4em;

		// Width
		width: 23%;
		@media handheld, only screen and (min-width: @bb-header-accommodate){
			width: 28%;
		}

		// Second-level menu
		ul.menu-2, ol.menu-2 {
		}

		.menu-2 li {

			// List item contents
			a, strong {
				display: block;
			}

		}

	}

}
