
body.level-2, body.level-3 {

	// Article
	#article {
		padding-top: 1em;

		// Widths
		@media handheld, only screen and (min-width: @bb-stack) {
			width: 73%;
		}
		@media handheld, only screen and (min-width: @bb-accommodate) {
			width: 68%;
		}

	}

	// Sidebar
	#sidebar {
		margin-bottom: 5%;

		// Widths
		@media handheld, only screen and (min-width: @bb-stack) {
			width: 23%;
			margin-left: 4%;
		}
		@media handheld, only screen and (min-width: @bb-accommodate) {
			width: 28%;
		}

		.menu-2 li {

			// List item contents
			a, strong {
				display: block;
			}

		}

	}

	// Float on large screens
	#article, #sidebar {
		@media handheld, only screen and (min-width: @bb-stack) {
			clear: none;
			float: right;
		}
	}

	// Condenced styling on small screens
	// FLAG replace with separate trigger
	// #sidebar {
	// 	@media handheld, only screen and (max-width: @bb-stack) {
	// 		li a {
	// 			.transition-property(height);
	// 			.transition-duration(1s);
	// 			padding-top: 0;
	// 			padding-bottom: 0;
	// 			line-height: 2.4em;
	// 			height: 0;
	// 			overflow: hidden;
	// 		}
	// 		li strong a, &.open li a {
	// 			height: 2.4em;
	// 		}
	// 	}
	// }

}
