
.row-content {
	max-width: 85em;
}

.row-body .submenu {
	width: 15%;
	margin-right: 5%;
}

.row-body .article {
	max-width: none;
	width: 80%;
}

tr td:first-of-type {
	width: 30%;
}

em code {
	color: #999;
	font-size: 0.7em;
}
