
<h1>{{ page.name() }}</h1>

<p><code>{{ servant.paths().format('formatted/path', 'domain') }}</code></p>

<ul>
{% for node in page.siblings() %}
	<li><a href="{{ node.id() }}">{{ node.name() }}</a></li>
{% endfor %}
</ul>
