
h1 This is Jade

ul#users
	- foreach ($servant->constants()->formats('templates') as $formats):
		- foreach ($formats as $format):
			li.format= $format

ul
	li.first
		a(href='#') foo
	li
		a(href='#') bar
	li.last
		a(href='#') baz
