
// Text fields
(~'@{textfields}') {
	background: transparent;
	border-width: 0 0 1px 0;
	border-color: @white;

	// Focused text fields
	&:focus {
		outline: none;
	}

}

// Textareas
textarea {
	height: auto;
	min-height: 0;
}

// Buttons
(~'@{buttons}') {
	background: transparent;
	border-width: 0;
	border-color: @white;
	color: @white;
	font-size: inherit;
	font-weight: bold;
	padding: 0;
}

// Disabled buttons
(~'@{disabledbuttons}') {
	color: @darkgrey;
}

// Labels & placeholders
.placeholder, label {
	color: @darkgrey;
}
input::-webkit-input-placeholder {
	color: @darkgrey;
}
input:-moz-placeholder{
	color: @darkgrey;
}



// Arrangements
.arrangement-textinput {
	label, input {
		display: block;
		width: 100%;
		max-width: 30em;
	}

	// No input value
	&.state-empty {
		input {
			cursor: pointer;
			height: 0;
			overflow: hidden;
			&:focus {
				height: auto;
				overflow: visible;
			}
		}
	}

}
