
/*Tables*/
table {
	.border-box;
	margin: 2.68em -5% 4.02em -5%;
	width: 110%;
	.box-shadow(0 0.2em 4em rgba(0, 0, 0, 0.1));
	.border-radius(0.3em);
    border-collapse: separate;
    border-spacing: 0;
}

th {
	vertical-align: baseline;
	font-weight: normal;
	background-color: #eee;
	border-color: #eee;

	&[scope="row"] {
		background-color: transparent;
		color: inherit;
		font-weight: bold;
	}

}

	tr:first-of-type {
		th:first-of-type, td:first-of-type {
			border-top-left-radius: 0.3em;
		}
		th:last-of-type, td:last-of-type {
			border-top-right-radius: 0.3em;
		}
	}
	tr:last-of-type {
		th:first-of-type, td:first-of-type {
			border-bottom-left-radius: 0.3em;
		}
		th:last-of-type, td:last-of-type {
			border-bottom-right-radius: 0.3em;
		}
	}


// Rows
td {
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-color: #eee;
}
	tr:first-child td {
		border-top-width: 1px;
	}
	td:first-child {
		border-left-width: 1px;
	}
table table td {
	padding: 0.335em 0.67em;
}
