
#footer {
	@media handheld, only screen and (max-width: @bb-header-dropdown){
		text-align: center;
	}

	// Columns
	h2 {
		font-size: 1.4em;
		margin-bottom: 0;
		&:first-of-type {
			margin-top: 0;
		}
	}
	ul {
		list-style: none;
		padding-left: 0;
		margin-left: -0.6em;
	}

	// List items
	li {
		display: inline;
		margin-right: 1em;
		a {
			padding: 0.2em 0.6em;
			display: inline-block;
			text-decoration: none;
			&:hover {
				text-decoration: underline;
			}
		}
	}

}
