
.frame-footer {

	// Columns
	dl {
		width: 14em;
		float: left;
		clear: none;
		height: 11em;
		overflow: hidden;
		@media handheld, only screen and (max-width: @bb-stack) {
			width: 50%;
		}
	}
	dt {
		font-size: 1.3em;
		font-weight: inherit;
	}
	dd {
		margin-left: -0.6em;

		// Links
		a {
			padding: 0.2em 0.6em;
			display: inline-block;
			text-decoration: none;
			&:hover {
				text-decoration: underline;
			}
		}
	}


}
