
#header {

	// Base look
	background-color: @grey-darkest;
	color: @white;

	// Links
	a {
		line-height: 1;
		color: @white;
		text-decoration: none;
		font-weight: 200;
		@media handheld, only screen and (min-width: @bb-accommodate) {
			font-size: 1.1em;
		}
	}

	// Navigation links
	h1 a, li a {
		@media handheld, only screen and (min-width: @bb-stack) {
			padding: 1em 0.8em 0.6em 0.8em;
			border-bottom-width: 0.4em;
		}
		@media handheld, only screen and (min-width: @bb-accommodate) {
			padding: 1.2em 1.2em 0.8em 1.2em;
		}
	}

	// Page title
	h1 {
		font-size: 1em;
		text-transform: uppercase;
		@media handheld, only screen and (min-width: @bb-stack) {
			margin-left: -1.2em;
		}
		a {
			font-weight: 600;
			color: @white;
			.text-shadow(0 0 0.8em @grey-dark);
			@media handheld, only screen and (max-width: @bb-stack) {
				letter-spacing: 0.6em;
				font-size: 2em;
				font-weight: 100;
			}
		}
	}



	// Menu items
	li {

		// Selected links
		strong a {
			border-color: @blue-light;
			background-color: @grey-darker;
		}

		// Text color
		a, strong a:active {
			color: @white;
		}

		// Effects
		a:hover {
			.text-shadow(0 0 1.2em @white);
		}
		a:active {
			color: @grey-light;
			.text-shadow(0 0 1.8em @white);
		}

		// Selected
		strong a:hover, strong a:active {
			.text-shadow(none);
		}

	}

}

// Home page
body.level-1.index-0 #header {

	// Title gets a shadow
	h1 a {
		.text-shadow(0 0 1.2em @white);
	}

}
