
#sidebar {

	ul {
		margin-bottom: 0;
		.shadows();
		.border-radius(0.2em);
		background-color: @grey-darkest;
		color: @white;
		list-style: none;
		padding-left: 0;
		ul {
			.border-radius(0);
			.box-shadow(none);
			background-color: @grey-darker;
		}
	}



	// Links
	a {
		.thick-border-left();
		border-color: transparent;
		padding: 0.6em 1em;
		color: @white;
		text-decoration: none;
		@media handheld, only screen and (max-width: @bb-accommodate){
			padding-top: 0.5em;
			padding-bottom: 0.5em;
		}
	}

	// Interaction
	a:hover {
		padding-left: 1.4em;
		padding-right: 0.6em;
		background-color: rgba(255, 255, 255, 0.05);
	}
		li li a:hover {
			background-color: rgba(0, 0, 0, 0.1);
		}
	a:active {
		color: @grey-lighter;
	}

	// Selected
	strong a {
		border-color: @blue-light;
		background-color: @grey-darker;
		font-weight: bold;
	}

}

// Don't show parent list item as selected on lower levels
body.level-3 {
	#sidebar .menu-2 {
		strong a {
			border-color: transparent;
			font-weight: 200;
		}
		.menu-3 strong a {
			border-color: @blue-light;
			font-weight: bold;
		}
	}

	// We're on first level
	&.index-0 #sidebar .menu-2 {
		strong a {
			border-color: @blue-light;
			font-weight: bold;
		}
		.menu-3 strong a {
			border-color: transparent;
			font-weight: 200;
		}
	}
}
