
// Home page
body.article-about {

	#body {
		text-align: center;
		font-weight: 200;
		padding-bottom: 10%;

		h1 {
			font-size: 4em;
			font-weight: 100;
			margin-top: 0.2em;
			margin-bottom: 0;
			color: @magenta-3;
		}

		.intro {
			margin-bottom: 2.4em;
			p {
				max-width: 50em;
				margin-right: auto;
				margin-left: auto;
			}
			.button {
				margin: 0.5em;
			}
		}

		// White thingies
		.column.step {
			margin-top: 2em;
			margin-bottom: 0em;

			.box {

				// Numbers
				h3 {

				}
				.count {
					display: inline-block;
					.border-radius(9999em);

					font-size: 2em;
					line-height: 3em;
					width: 3em;
					height: 3em;

					font-weight: 100;
					font-style: normal;
					background-color: @blue-3;
					color: @white;
				}

				// Alternate colors
				&.green .count {
					background-color: @green-3;
				}
				&.magenta .count {
					background-color: @magenta-3;
				}

			}

		}

	}

	// Splash intro
	.showoff {
		
	}

	// Call to action
	.call-to-action {
		h2 {
			a {
				font-size: 0.8em;
			}
		}
	}

	// Details
	.details {
		text-align: left;
		font-size: 1.1em;
	}

	// Hide footer
	background-color: @grey-1;
	#footer {
		display: none;
	}

}
