
// Inverted sections
.inverted {
	color: @white;
	background-color: @grey-darkest;

	h1, h2, h3 {
		color: @white;
	}

	.shadows {
		.box-shadow(0 0.1em 0.15em rgba(0, 0, 0, 0.75));
	}

}

.row.inverted {
	background-image: url(wallpaper.jpg);
	background-size: cover;
	background-position: 50% 50%;
}

.mask {
	background-image: url(mask.png);
	background-repeat: repeat-x;
	background-position: 50% 100%;
}



// Header
.row-header {
	position: static;

	h1 {

		// Page title
		margin-left: -1.2em;
		font-size: 1em;
		@media handheld, only screen and (max-width: @bb-accommodate) {
			margin-left: -0.6em;
		}
		@media handheld, only screen and (max-width: @bb-stack) {
			margin-left: -1.2em;
		}

		strong a {
			color: inherit;
		}
	}

	&.inverted {
		background: transparent;

		a {

			&:hover {
				color: @white;
			}

		}

	}

}



// Intro
.row-intro {

	.mask {
		padding-bottom: 10px;
	}

	.row-content {
		max-width: 74em;
	}

	.samples {
		font-size: 0.9em;
		overflow-x: auto;

		.overflow {
			padding-right: 8%;
			padding-left: 8%;
			@media handheld, only screen and (min-width: @bb-stack) {
				padding-right: 15%;
				padding-left: 5%;
				width: 144em;
			}
		}

		.sample {

			@media handheld, only screen and (max-width: @bb-stack) {
				text-align: center;
				margin-bottom: 4em;
				&.column {
					float: none;
					clear: both;
				}
			}

			@media handheld, only screen and (min-width: @bb-stack) {
				max-width: 30em;
				margin-right: 3em;
				margin-left: 3em;
			}

			font-style: italic;
			color: @grey;

			strong {
				color: @white;
			}

		}
	}

}



// Description
.row-description {

	.row-content {
		max-width: 74em;
	}

	h2 {
		text-align: center;
	}

}



// Download
.row-download {

	.row-content {
		max-width: 85em;
	}

	.panel {
		position: relative;
		z-index: 10;
		margin-bottom: -14em;
		border-top-width: 0.4em;
		border-color: @turquoise;
		.rounded;
		.box-shadow(0 0.5em 4em rgba(0, 0, 0, 0.5));
		.buffer {
			padding: 5% 7% 5% 7%;
		}
	}

	li {
		margin-top: 1.34em;
	}

	.customize {

		.input, h3, p {
			float: left;
		}

		.input, h3 {
			clear: none;
		}

		.input {
			width: 2em;
		}

		p {
			margin-left: 2em;
			color: @grey;
			a {
				color: inherit;
			}
		}

	}

	p.push-bottom {
		margin-bottom: 4em;
	}

	@media handheld, only screen and (max-width: @bb-stack) {
		.button.push-right {
			margin-right: 0;
			margin-bottom: 2em;
			display: block;
		}
	}

	.push-right {
		margin-right: 4em;
	}

	p.discreet {
		color: @grey;
		.button {
			color: @white;
		}
	}

	a.discreet {
		color: inherit;
	}

}



.row-outro {

	.row-content.buffer {
		padding-top: 14em;
		text-align: center;
	}

	.mask {
		background-image: url(mask-top.png);
		background-position: 50% 0;
	}

	.limit {
		max-width: 60em;
	}

	.push-top {
		margin-top: 6%;
	}

	a.tutorials, a.docs {
		position: relative;
		top: 0;
		text-decoration: none;
		color: @white;
		background-color: @blue;
		.box-shadow(0 0.1em 0.2em rgba(0, 0, 0, 0.75));

		h2 {
			line-height: 1.2;
			color: inherit;
		}

		&.buffer {
			padding-top: 3em;
			padding-bottom: 3em;
		}

		// Movement
		&:hover {
			.box-shadow(0 0.4em 0.6em 0 rgba(0, 0, 0, 0.9));
			background-color: @blue-dark;
			top: -0.3em;
		}
		&:active {
			top: 0.1em;
		}

	}

	a.docs {
		background-color: @green;
		&:hover {
			background-color: @green-dark;
		}
	}

	.button {
		font-size: 1.2em;
		@media handheld, only screen and (max-width: @bb-stack) {
			width: 80%;
		}
	}

	.author {
		text-align: left;
		.column.fluid .column-content {
			margin-left: 5em;
		}
		.column.fixed {
			width: 4em;
		}
	}

}

.footnote {
	a {
		text-decoration: none;
		color: @grey-darker;
		&:hover {
			color: @white;
		}
	}
}
