
// Inverted sections
.inverted {
	color: @white;
	background-color: @grey-darkest;
	// -webkit-font-smoothing: antialiased;
	// font-weight: 200;

	h1, h2, h3 {
		color: @white;
	}

	.shadows {
		.box-shadow(0 0.1em 0.15em rgba(0, 0, 0, 0.75));
	}

}
.row.inverted {
	background-image: url(wallpaper.jpg);
	background-size: cover;
	background-position: 50% 50%;
}

.mask {
	background-image: url(mask.png);
	background-repeat: repeat-x;
	background-position: 50% 100%;
}



// Header
.row-header {
	position: static;

	h1 {

		// Page title
		margin-left: -1.2em;
		font-size: 1em;
		@media handheld, only screen and (max-width: @bb-accommodate) {
			margin-left: -0.6em;
		}
		@media handheld, only screen and (max-width: @bb-stack) {
			margin-left: -1.2em;
		}

		strong a {
			color: inherit;
		}
	}

	&.inverted {
		background: transparent;

		a {

			&:hover {
				color: @grey;
			}

		}

	}

}



// Intro
.row-intro {

	.row-content {
		max-width: 74em;
	}

	.samples {
		padding-right: 4em;
		padding-left: 4em;
		// line-height: 1.4;
		font-size: 0.9em;

		.sample {
			width: 26em;
			margin-right: 3em;
			margin-left: 3em;
			font-style: italic;
			color: @grey;
			strong {
				color: @white;
			}
		}
	}

}



// Description
.row-description {

	.row-content {
		max-width: 74em;
	}

	h2 {
		text-align: center;
	}

}



// Download
.row-download {

	.row-content {
		max-width: 85em;
	}

	.panel {
		position: relative;
		z-index: 10;
		margin-bottom: -14em;
		border-top-width: 0.4em;
		border-color: @turquoise;
		.rounded;
		.box-shadow(0 0.5em 4em rgba(0, 0, 0, 0.5));
		.buffer {
			padding: 5% 7% 5% 7%;
		}
	}

	li {
		margin-top: 1.34em;
	}

	.customize {

		.input, h3, p {
			float: left;
		}

		.input, h3 {
			clear: none;
		}

		.input {
			width: 2em;
		}

		p {
			margin-left: 2em;
			color: @grey;
			a {
				color: inherit;
			}
		}

	}

	p.push-bottom {
		margin-bottom: 4em;
	}

}



.row-outro {
	.row-content.buffer {
		padding-top: 14em;
	}

	.mask {
		background-image: url(mask-top.png);
		background-position: 50% 0;
	}

	.limit {
		max-width: 60em;
	}

	a.tutorials, a.docs {
		text-align: center;
		text-decoration: none;
		color: @white;
		background-color: @blue;
		h2 {
			line-height: 1.2;
			color: inherit;
		}
		&.buffer {
			padding-top: 2.8em;
			padding-bottom: 3.2em;
		}
	}

	a.tutorials {
	}

	a.docs {
		background-color: @green;
	}

	.author img {
		max-height: 5em;
	}

}

.footnote {
	text-align: center;
	a {

		text-decoration: none;
		color: @grey-darker;
		&:hover {
			color: @white;
		}
	}
}
