
/*Menus*/

#mainmenu a, #submenu a {
	padding: 0.4em 1.1em 0.45em 1em;
	text-decoration: none;
	border-radius: 0.25em;
}

	#mainmenu .selected a {
		background-color: #2acfc4;
		box-shadow: 0 0.05em 0.2em #000, inset 0 -0.05em 0.1em 0.1em rgba(255, 255, 255, 0.4);
		border: 0.05em solid rgba(36, 41, 45, 0.2);
	}



/*Dropdown menu for small screens*/
@media handheld, only screen and (max-width: 45em){
	#mainmenu .buffer {
		padding-top: 1em;
		padding-bottom: 1em;
	}
	#mainmenu select.hidden {
		display: block;
	}
	#mainmenu .first, #mainmenu ul, #mainmenu ol {
		display: none;
	}
}
