
/*Frame*/
body {
	margin: 0 auto;
	background-color: #212626;
	color: #f3f2f2;

	font-size: 0.9em;
	line-height: 1.6;
}

/*Content areas*/
#menu .buffer {
	padding: 0 5%;
}
#content {	
	padding: 0 5% 5% 5%;
	background: #f3f2f2;
	color: #212626;
}
	.dark h1, .dark h2, .dark h3, .dark pre, .dark code, .dark table, .dark th, .dark td, .dark a {
		border-color: #2d3333;
	}
#footer {	
	padding: 1em 5% 0.5em 5%;
}
.contentarea {
	max-width: 85em;
	margin: 0 auto;
}


/*Small screens*/
#menu select {
	display: none;
}
@media handheld, only screen and (max-width: 45em){
	#menu .buffer {
		padding-top: 1em;
		padding-bottom: 1em;
	}
	#menu select {
		display: block;
	}
	#menu .first, #menu ul, #menu ol {
		display: none;
	}
}



/*Generic content*/

/*Containers*/
#content pre, table table {
	background-color: #ebeaea;
}

/*Text*/
h1, h2, h3, pre, code, table, th, td, a, ul, ol, li {
	border-color: #c9d6d6;
}
h1, h2 {
	margin-bottom: 0.6em;
	padding-bottom: 0.35em;
	font-weight: 200;
}
h1 {
	margin-top: 0;
	padding-top: 3%;
	font-size: 3.2em;
	line-height: 1.2;
	border-bottom-width: 1px;
}
h2 {
	font-size: 2.3em;
	border-bottom-width: 1px;
}
h3, th {
	font-size: 1.4em;
	font-weight: normal;
}
h3 .discreet, th .discreet {
	color: #8e9494;
}
h4 {
	font-size: 1em;
	font-weight: bold;
}
	h4 > code, h4 > strong, h4 > a {
		display: block;
		border-width: 0;
		font-weight: normal;
		box-shadow: 0 1px 2px #c3cacb;
	}
	h4 > code, h4 > strong {
		background-color: #212626;
		color: #f3f2f2;
	}
	h4 > strong {
		padding: 0.7em 1em;
	}
	h4 > code {
		padding: 0.8em 1em 0.7em 1em;
	}
	h4 > a {
		font-size: 1.4em;
		padding: 0.4em 1em 0.5em 1em;
		background-color: #00adbd;
		color: #fff;
		text-decoration: none;
		text-align: center;
	}
	h4 > a:hover {
		background-color: #0098a6;
	}
ul {
	list-style-type: square;
}
a {
	color: #00adbd;
}
	a.button {
		display: inline-block;
		padding: 0.25em 0.7em;
	}

	a.button:hover {
		background-color: #ebeaea;
	}
		pre a.button:hover {
			background-color: #e6e5e5;
		}

		.dark a.button:hover {
			background-color: #2d3333;
		}
		.dark a.discreet:hover {
			background-color: transparent;
		}



/*Tables*/
th {
	padding: 0.9em 0.5em 0.3em 0.5em;
	vertical-align: baseline;
	font-weight: normal;
}
	th.discreet {
		font-size: 1em;
		padding: 1.26em 0.7em 0.42em 0.7em;
		font-weight: bold;
	}
	tr:first-child th {
		padding-top: 0.3em;
	}
td {
	border-top-width: 1px;
}
	tr:first-child td {
		border-top-width: 0;
	}
	th.half, td.half {
		width: 50%;
	}
	th.third, td.third {
		width: 33%;
	}
	th.fourth, td.fourth {
		width: 25%;
	}
	th.fifth, td.fifth {
		width: 20%;
	}
table table td {
	padding: 0.35em 0.7em;
	border-color: #d9d8d8;
}



/*Code*/
pre, code {
	font-size: 0.85em;
}
	pre code, code pre {
		font-size: 1em;
	}
code {
	border-bottom-width: 1px;
	border-color: #879494;
	border-style: dashed;
	color: #646b6b;
}
pre {
	padding: 1em 2em;
	overflow-y: scroll;
}
	h4 + pre {
		margin-top: -1em;
	}
	pre code {
		background: transparent;
		border-width: 0;
		padding: 0;
		box-shadow: none;
	}



/*Menus*/
#menu, #submenu {
	box-shadow: 0 1px 2px #c3cacb;
}
#menu a, #submenu a {
	color: inherit;
	display: block;
	text-decoration: none;
	padding: 0.5em 1em;
}

	/*Main menu*/
	#menu .first a {
		text-transform: uppercase;
	}
	#menu .first a:hover, #submenu a:hover, #submenu .selected a {
		background-color: #374040;
	}

	/*Second-level menu*/
	#menu .second {
		border-bottom-width: 0.4em;
		border-bottom-color: #212626;
	}
	#menu .second a {
		padding: 0.7em 0.8em 0.3em 0.8em;
		border-bottom-width: 0.4em;
		border-bottom-color: transparent;
	}
	#menu .second a:hover {
		border-bottom-color: rgba(33, 33, 38, 0.5);
	}
	#menu .second .selected a {
		border-bottom-color: #212626;
	}

	/*Colors*/
	#menu .first .selected a, #menu .second {
		background-color: #00adbd;
	}
	.article-tutorials #menu .first .selected a, .article-tutorials #menu .second {
		background-color: #11bdbd;
	}
	.article-cheatsheets #menu .first .selected a, .article-cheatsheets #menu .second {
		background-color: #1ebab0;
	}

	.article-apps #menu .first .selected a, .article-apps #menu .second {
		background-color: #95b300;
	}
	.article-actions #menu .first .selected a, .article-actions #menu .second {
		background-color: #e68600;
	}
	.article-backend #menu .first .selected a, .article-backend #menu .second {
		background-color: #b3245f;
	}

	/*Second-level menu*/
	#submenu {
		color: #f3f2f2;
		background-color: #212626;
	}

	/*Dropdown*/
	#menu select {
		width: 100%;
	}


/*Transitions*/
a, input, td, th {
	-ms-transition-property: all;
	-ms-transition-duration: 0.1s;
	-ms-transition-delay: 0;
	-moz-transition-property: all;
	-moz-transition-duration: 0.1s;
	-moz-transition-delay: 0;
	-webkit-transition-property: all;
	-webkit-transition-duration: 0.1s;
	-webkit-transition-delay: 0;
	transition-property: all;
	transition-duration: 0.1s;
	transition-delay: 0;
}



/*Pages*/

/*JS library cheatsheet*/
.article-cheatsheets-js-library h2 {
	margin-top: 2em;
	margin-bottom: 0;
}
