
/*Menus*/

/*Main menu*/

#mainmenu {
	background-color: #24292d;
	color: #edf1f2;
}

	#mainmenu .first, #mainmenu .second {
		padding: 1% 2%;
	}

	#mainmenu .second {
		background-color: rgb(194, 202, 204);
	}

#mainmenu .buffer {
	padding-top: 1em;
	padding-bottom: 1em;
}

#mainmenu a, #submenu a, #mainmenu a strong, #submenu a strong {
	display: block;
}

#mainmenu a, #submenu a {
	padding: 0.4em 0.8em 0.45em 0.8em;
	color: #fff;
	text-decoration: none;
	border-radius: 0.25em;
	color: inherit;
}

	#mainmenu strong, #submenu strong {
		font-weight: normal;
	}

	#mainmenu a:hover {
		color: #fff;
	}

	#mainmenu .selected a {
		background-color: #2acfc4;
		box-shadow: 0 0.05em 0.2em #000, inset 0 -0.05em 0.1em 0.1em rgba(255, 255, 255, 0.4);
		border: 0.05em solid rgba(36, 41, 45, 0.2);
	}



/*Dropdown menu for small screens*/
@media handheld, only screen and (max-width: 45em){
	#mainmenu select.hidden {
		display: block;
	}
	#mainmenu .first, #mainmenu ul, #mainmenu ol {
		display: none;
	}
}
